body{
    margin: 0;
    padding: 0;
}
body>div{
    padding: 10px;
    height: 100vh;
    background: repeating-linear-gradient(45deg, #7fffd4 10%, #f0ffff 30%) repeat;
}
a[href*="htmlweb"]{
    color: #4d1251;
}
div a[href*="htmlweb"]:first-child{
    background: radial-gradient(at bottom, rgb(128, 0, 128), rgba(48, 11, 198, 0.272), rgba(33, 221, 108, 0.333), gold );
}
a+a:visited{
    color: rgb(255, 255, 0);
}
/* Для каждой ссылки, которая является вторым предком -  не сделала, не разобралась, как работает, надеюсь на объяснение, так как хочу понять, как должно работать */
a[href$="/css"]:hover{
    border-top: 5px solid rgb(144, 23, 23);
    border-left: 5px solid rgb(144, 23, 23);
    border-bottom: 5px solid rgb(236, 13, 13);
    border-right: 5px solid rgb(236, 13, 13);
    border-radius: 50% 20% / 10% 40%;
}

a:last-child::selection{
    font-weight: 700;
    color: rgb(255, 0, 0);
    background-color: rgb(44, 105, 41);
}